apiVersion: 1

datasources:
{% if grafana_prometheus_enabled %}
  - name: Prometheus
    type: prometheus
    access: {{ grafana_prometheus_access }}
    url: {{ grafana_prometheus_url }}
    isDefault: true
    editable: true
{% endif %}

{% for datasource in grafana_datasources %}
  - name: {{ datasource.name }}
    type: {{ datasource.type }}
    access: {{ datasource.access | default('proxy') }}
    url: {{ datasource.url }}
    isDefault: {{ datasource.is_default | default(false) | lower }}
    editable: {{ datasource.editable | default(true) | lower }}
{% if datasource.database is defined %}
    database: {{ datasource.database }}
{% endif %}
{% if datasource.user is defined %}
    user: {{ datasource.user }}
{% endif %}
{% if datasource.basicAuth is defined %}
    basicAuth: {{ datasource.basicAuth | lower }}
{% endif %}
{% if datasource.basicAuthUser is defined %}
    basicAuthUser: {{ datasource.basicAuthUser }}
{% endif %}
{% if datasource.withCredentials is defined %}
    withCredentials: {{ datasource.withCredentials | lower }}
{% endif %}
{% if datasource.jsonData is defined %}
    jsonData: {{ datasource.jsonData | to_json }}
{% endif %}
{% if datasource.secureJsonData is defined %}
    secureJsonData: {{ datasource.secureJsonData | to_json }}
{% endif %}
{% endfor %}